main .sub-heading h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1.08px;
  color: #171717;
  line-height: 40px;
  border: none;
  margin-top: 14px;
  border-bottom: 1px solid #d8d8d8;
}

main .route {
  padding-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

main .route #home {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 12px;
}

main .route #home:hover {
  color: #d8d8d8;
}

main .route a {
  padding-right: 8px;
  color: gray;
  text-decoration: none;
}

main .route a:hover {
  text-decoration: underline;
}

main .route i {
  padding-right: 8px;
  color: gray;
  font-size: 6px;
}

main .container .info {
  border: 1px solid #d8d8d8;
  border-radius: 10px;
}

main .container .info h3 {
  border-bottom: 1px solid #d8d8d8;
  padding-top: 14px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
}

main .container .info h3 i {
  padding-right: 5px;
  color: green;
}

main .container .info p {
  padding: 14px;
}

main section .bucket {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .bucket .bucket-left {
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  width: 69%;
}

main section .bucket .bucket-left .add-to-card-list {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main section .bucket .bucket-left .add-to-card-list .remove-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
  border-bottom: 1px solid #d8d8d8;
}

main section .bucket .bucket-left .add-to-card-list .remove-all button {
  margin-right: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main section .bucket .bucket-left .add-to-card-list .remove-all button:hover {
  color: #da2c18;
}

main section .bucket .bucket-left .add-to-card-list .remove-all button:hover i {
  color: #da2c18;
}

main section .bucket .bucket-left .add-to-card-list .remove-all button i {
  margin-left: 5px;
  font-size: 16px;
  color: gray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list {
  padding: 0 38px;
  padding-bottom: 60px;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card {
  padding: 63px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d8d8d8;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card:nth-last-child(1) {
  border: none;
  padding-bottom: 0;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .img {
  width: 120px;
  height: 90px;
  width: 22%;
  margin: 45px 0;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details .name .name-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details .name .name-stars a {
  width: 108px;
  line-height: 18px;
  letter-spacing: -0.28px;
  font-size: 14px;
  font-weight: 500;
  color: #171717;
  text-decoration: none;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details .name .name-stars a:hover {
  text-decoration: underline;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details .name .name-stars .stars {
  margin-left: 18px;
  font-size: 10px;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details .name .name-stars .stars i {
  color: #d8d8d8;
  padding-right: 5px;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details .name .remove-btn button {
  background-color: transparent;
  border: none;
  color: #d8d8d8;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details .name .remove-btn button:hover {
  color: black;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details .price-and-count {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details .price-and-count .price span {
  line-height: 18px;
  letter-spacing: -0.28px;
  font-size: 14px;
  font-weight: 500;
  color: #171717;
  padding-bottom: 5px;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details .price-and-count .price h3 {
  font-weight: 700;
  color: #171717;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.36px;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details .price-and-count .price h3 sup {
  font-weight: 700;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details .price-and-count .quantity {
  padding-right: 11px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details .price-and-count .quantity span {
  line-height: 18px;
  letter-spacing: -0.28px;
  font-size: 14px;
  font-weight: 500;
  color: #171717;
  padding-bottom: 5px;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details .price-and-count .quantity .count button {
  width: 25px;
  height: 24px;
  padding: 0 6px;
  background-color: transparent;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  cursor: pointer;
}

main section .bucket .bucket-left .add-to-card-list .bucket-list .card .product-details .price-and-count .quantity .count span {
  padding: 0 6px;
}

main section .bucket .bucket-right {
  width: 30%;
}

main section .bucket .bucket-right .total-prices {
  position: relative;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  height: 705px;
}

main section .bucket .bucket-right .total-prices h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
  border-bottom: 1px solid #d8d8d8;
  letter-spacing: -0.48px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #171717;
  padding: 0 18px;
}

main section .bucket .bucket-right .total-prices h3 span {
  letter-spacing: -0.48px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #171717;
  padding-left: 6px;
}

main section .bucket .bucket-right .total-prices .name-price-wrapper {
  height: 560px;
  overflow-y: auto;
}

main section .bucket .bucket-right .total-prices .name-price-wrapper .list {
  padding: 0 18px;
}

main section .bucket .bucket-right .total-prices .name-price-wrapper .list .item {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

main section .bucket .bucket-right .total-prices .name-price-wrapper .list .item .current {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .bucket .bucket-right .total-prices .name-price-wrapper .list .item .current h4 {
  width: 223px;
  line-height: 18px;
  letter-spacing: -0.28px;
  font-size: 14px;
  font-weight: 500;
  color: #171717;
}

main section .bucket .bucket-right .total-prices .name-price-wrapper .list .item .current span {
  font-weight: 700;
  color: #171717;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.36px;
}

main section .bucket .bucket-right .total-prices .name-price-wrapper .list .item .current span sup {
  font-weight: 700;
}

main section .bucket .bucket-right .total-prices .name-price-wrapper .list .item .sale {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .bucket .bucket-right .total-prices .name-price-wrapper .list .item .sale span {
  font-size: 12px;
  line-height: 15px;
  color: gray;
}

main section .bucket .bucket-right .total-prices .name-price-wrapper .list .item .sale .pr {
  color: #da2c18;
  font-size: 18px;
  font-weight: 700;
}

main section .bucket .bucket-right .total-prices .name-price-wrapper .list .item .sale .pr sup {
  font-weight: 700;
  margin-right: 6px;
}

main section .bucket .bucket-right .total-prices .total {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 82px;
  width: 100%;
  padding: 18px;
  border-top: 1px solid #d8d8d8;
  background-color: #fcfcfd;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

main section .bucket .bucket-right .total-prices .total span {
  font-size: 18px;
  font-weight: 700;
}

main section .bucket .bucket-right .total-prices .total .order {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .bucket .bucket-right .total-prices .total .discount {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #d8d8d8;
}

main section .bucket .bucket-right .order-btn {
  margin-top: 11px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  padding: 18px;
}

main section .bucket .bucket-right .order-btn .order {
  width: 100%;
  height: 62px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #da2c18;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #da2c18;
  border-radius: 10px;
  text-decoration: none;
}

main section .bucket .bucket-right .order-btn .order:hover {
  background-color: #bc2020;
}

main section .bucket .bucket-right .order-btn .order:hover i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-left: 15px;
}

main section .bucket .bucket-right .order-btn .order span {
  color: white;
  padding-left: 110px;
  font-size: 12px;
}

main section .bucket .bucket-right .order-btn .order i {
  font-size: 14px;
  color: white;
  padding-left: 6px;
}

.empty-bucket .empty {
  height: 80vh;
  padding-top: 80px;
  text-align: center;
}

.empty-bucket .empty h3 {
  color: #171717;
  letter-spacing: -0.48px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.empty-bucket .empty p {
  font-size: 14px;
  font-weight: 500;
  color: #171717;
  letter-spacing: -.28px;
  line-height: 20px;
}

.empty-bucket .empty button {
  margin-top: 45px;
  color: white;
  font-size: 14px;
  letter-spacing: -.28px;
  line-height: 20px;
  padding: 18px 28px;
  background-color: #da2c18;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.empty-bucket .empty button:hover {
  background-color: #bc2020;
}

.empty-bucket .empty button i {
  padding-right: 8px;
}

.hide {
  display: none;
}

.active {
  display: block;
}
/*# sourceMappingURL=bucket.css.map */